[Unit]
Description=RIYANMEE PROXY gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=riyanmee
WorkingDirectory=/opt/riyanmee-gateway
EnvironmentFile=/opt/riyanmee-gateway/.env
ExecStart=/opt/riyanmee-gateway/.venv/bin/python /opt/riyanmee-gateway/proxy.py
Restart=always
RestartSec=3
# hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
